/* FUENTES */

@font-face{
    font-family:'streamline';
    src:url("../fonts/streamline.eot?19c5cw");
    src:url("../fonts/streamline.eot?19c5cw#iefix") format("embedded-opentype"),url("../fonts/streamline.woff?19c5cw") format("woff"),url("../fonts/streamline.ttf?19c5cw") format("truetype"),url("../fonts/streamline.svg?19c5cw#streamline") format("svg");
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:'dinRegular';
    src:url("../fonts/din-regular-webfont.eot");
    src:url("../fonts/din-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-regular-webfont.woff2") format("woff2"),url("../fonts/din-regular-webfont.svg#dinregular") format("svg"),url("../fonts/din-regular.ttf") format("truetype"),url("../fonts/din-regular.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

@font-face{font-family:'dinMedium';
    src:url("../fonts/din-medium-webfont.eot");
    src:url("../fonts/din-medium-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-medium-webfont.woff2") format("woff2"),url("../fonts/din-medium-webfont.svg#dinmedium") format("svg"),url("../fonts/din-medium.ttf") format("truetype"),url("../fonts/din-medium.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
    
@font-face{
    font-family:'dinLight';
    src:url("../fonts/din-light-webfont.eot");
    src:url("../fonts/din-light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-light-webfont.woff2") format("woff2"),url("../fonts/din-light-webfont.svg#dinlight") format("svg"),url("../fonts/din-light.ttf") format("truetype"),url("../fonts/din-light.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

@font-face{
    font-family:'dinBold';
    src:url("../fonts/din-bold-webfont.eot");
    src:url("../fonts/din-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-bold-webfont.woff2") format("woff2"),url("../fonts/din-bold-webfont.svg#dinregular") format("svg"),url("../fonts/din-bold.ttf") format("truetype"),url("../fonts/din-bold.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}


/* GENERAL */

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'dinRegular';
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #EBEBEC;
}

aside, header, section {
    display: flex;
}

section {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

i {
    font-family: 'streamline';
    font-style: normal;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

input, select, button {
    outline: none;
}

::-webkit-scrollbar {
    width: 0;
}


/* CABECERA */

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.75);
    background: #20a3ff;
    top: 0;
    left: 0;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}

.header .btn-menu {
    padding: 0 15px;
    display: flex;
}

.header .btn-menu .btn-menu-link {
    padding: 0 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.header .btn-menu .btn-menu-link .btn-menu-icon.show::before {
    content: "\e908";
}

.header .btn-menu .btn-menu-link .btn-menu-icon.hide::before {
    content: "\e900";
}

.header .logo {
    display: flex;
    margin-right: auto;
}

.header .logo .logo-link {
    background: url("../images/logo_positivoA.png");
    width: 126px;
}

.header .user {
    padding: 0 10px;
    display: flex;
    margin-left: auto;
}

.header .logout {
    border-left: 1px solid rgba(255,255,255,0.3);
    padding: 0 10px;
    display: flex;
}

.header .user .user-link, .header .logout .logout-link {
    padding: 0 10px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
}

.header .btn-menu .btn-menu-link:hover, .header .btn-menu .btn-menu-link:active,
.header .user .user-link:hover, .header .user .user-link:active,
.header .logout .logout-link:hover, .header .logout .logout-link:active {
    background: #1a82cc;
}

.header .user .user-link .user-icon, .header .logout .logout-link .logout-icon {
    font-size: 24px;
}

.header .user .user-link .user-label, .header .logout .logout-link .logout-label {
    font-size: 14px;
    margin-left: 5px;
}

.header .user .user-link .user-icon::before {
    content: "\e63e";
}

.header .logout .logout-link .logout-icon::before {
    content: "\e697";
}

.wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    bottom: 0;
}



/* MENU */

.aside {
    display: flex;
    background: #e6e6e6;
    overflow: hidden;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    transition: width 1s;
    width: 0;
    border-right: 1px solid #bbb;
}

.aside.displayed {
    width: 80px;
}

.aside .menu {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: calc(100% + 18px);
}

.aside .menu .item {
    display: flex;
    min-height: 80px;
    width: 80px;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    transition: width 1s;
}

.aside .menu .item:last-child {
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.aside .menu .item .item-link {
    display: flex;
    color: #666;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px;
    text-align: center;
}

.aside .menu .item .item-link:hover, .aside .menu .item .item-link:active {
    background: #20a3ff;
    color: #fff;
}

.aside .menu .item .item-link.active {
    background: #62beff;
    color: #fff;
}

.aside .menu .item .item-link .item-icon {
    font-size: 24px;
}

.aside .menu .item .item-link .item-label {
    font-size: 12px;
    margin-top: 5px;
}

.aside .menu .item .item-link .item-icon[role=dec]::before {
    content: "\ea4a";
}

.aside .menu .item .item-link .item-icon[role=sm]::before {
    content: "\e971";
}

.aside .menu .item .item-link .item-icon[role=dhp]::before {
    content: "\ea08";
}

.aside .menu .item .item-link .item-icon[role=av]::before {
    content: "\ea21";
}

/* BODY */

.section {
    background: #EBEBEC;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.section .container {
    width: 100%;
}

.modal {
    background: rgba(0,0,0,0.4);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal .dialog {
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.modal .dialog .dialog-header {
    background: #20a3ff;
    border-radius: 4px 4px 0 0;
    color: #fff;
    padding: 13px;
    position: relative;
}

.modal .dialog .dialog-header .dialog-title {
    font-size: 14px;
    line-height: 1;
}

.modal .dialog .dialog-header .dialog-close {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -o-transition: transform 0.25s;
    -webkit-transition: transform 0.25s;
    -moz-transition: transform 0.25s;
    transition: transform 0.25s;
}

.modal .dialog .dialog-header .dialog-close::before {
    content: "\e8bc";
}

.modal .dialog .dialog-header .dialog-close:hover {
    transform: rotate(90deg);
}

.modal .dialog .dialog-content {
    background: #fff;
    padding: 20px;
    display: flex;
}

.modal .dialog .dialog-footer {
    background: #f8f8f8;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border-top: 1px solid #d7d7d7;
    border-radius: 0 0 4px 4px;
}

@media screen and (max-width: 1000px) {

    .header {
        padding: 5px 0; 
        height: 40px;
    }

    .header .user , .header .logout {
        padding: 0 5px;
    }

    .header .user .user-link, .header .logout .logout-link {
        padding: 0 5px;
    }

    .header .user .user-label, .header .logout .logout-label {
        display: none;
    }

    .aside {
        top: 40px;
    }

    .body {
        top: 40px;
    }

}