/* FUENTES */

@font-face{
    font-family:'streamline';
    src:url("../fonts/streamline.eot?19c5cw");
    src:url("../fonts/streamline.eot?19c5cw#iefix") format("embedded-opentype"),url("../fonts/streamline.woff?19c5cw") format("woff"),url("../fonts/streamline.ttf?19c5cw") format("truetype"),url("../fonts/streamline.svg?19c5cw#streamline") format("svg");
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:'dinRegular';
    src:url("../fonts/din-regular-webfont.eot");
    src:url("../fonts/din-regular-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-regular-webfont.woff2") format("woff2"),url("../fonts/din-regular-webfont.svg#dinregular") format("svg"),url("../fonts/din-regular.ttf") format("truetype"),url("../fonts/din-regular.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

@font-face{font-family:'dinMedium';
    src:url("../fonts/din-medium-webfont.eot");
    src:url("../fonts/din-medium-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-medium-webfont.woff2") format("woff2"),url("../fonts/din-medium-webfont.svg#dinmedium") format("svg"),url("../fonts/din-medium.ttf") format("truetype"),url("../fonts/din-medium.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

@font-face{
    font-family:'dinLight';
    src:url("../fonts/din-light-webfont.eot");
    src:url("../fonts/din-light-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-light-webfont.woff2") format("woff2"),url("../fonts/din-light-webfont.svg#dinlight") format("svg"),url("../fonts/din-light.ttf") format("truetype"),url("../fonts/din-light.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

@font-face{
    font-family:'dinBold';
    src:url("../fonts/din-bold-webfont.eot");
    src:url("../fonts/din-bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/din-bold-webfont.woff2") format("woff2"),url("../fonts/din-bold-webfont.svg#dinregular") format("svg"),url("../fonts/din-bold.ttf") format("truetype"),url("../fonts/din-bold.woff") format("woff");
    font-weight:normal;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}


/* GENERAL */

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.form {
    border: 1px solid #ccc;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    background-color: #fff;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form .form-header {
    display: flex;
    background: #f8f8f8;
    border-bottom: 1px solid #d7d7d7;
    padding: 13px 15px;
    align-items: center;
}

.form .form-header .form-title {
    color: #333;
    line-height: 1;
}

.form .form-wrapper {
    background: #fff;
    overflow: hidden;
    padding: 20px;
}

.form .form-wrapper .form-group {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.form .form-wrapper .form-group .form-group-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.form .form-wrapper .form-group .form-group-header .form-group-index {
    width: 16px;
    height: 16px;
    background: #20a3ff;
    border-radius: 8px;
    color: #fff;
    font-size: 11px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .form-wrapper .form-group .form-group-header .form-group-title {
    color: #20a3ff;
    font-size: 14px;
}

.form .form-wrapper .form-group .form-group-content {
    display: flex;
    flex-wrap: nowrap;
}

.form .form-wrapper .form-group .form-group-content .form-group-box {
    padding: 5px 25px;
    width: 100%;
}

.form .form-wrapper .form-group .form-group-content .form-group-box:first-child {
    padding-left: 0;
}

.form .form-wrapper .form-group .form-group-content .form-group-box:last-child {
    padding-right: 0;
}

.form .form-footer {
    display: flex;
    background: #f8f8f8;
    border-top: 1px solid #d7d7d7;
    padding: 6px;
    align-items: center;
    justify-content: flex-end;
}

.text-box {
    border: 1px solid #bbb;
    padding: 7px 5px;
    border-left-width: 3px;
    width: 100%;
    display: block;
}

.text-box:focus {
    background: #f2f6f6;
}

.list-box {
    position: relative;
}

.list-box::after {
    font-family: 'streamline';
    color: #62beff;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 20px;
    content: "\e90d";
}

.list-box select {
    border: 1px solid #bbb;
    padding: 7px 5px;
    border-left-width: 3px;
    width: 100%;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}


@media screen and (max-width: 1000px) {

    .row {
        flex-direction: column;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
    }

    .form .form-wrapper .form-group {
        padding-right: 0;
    }
    
}

@media screen and (max-width: 750px) {

    .form .form-wrapper .form-group .form-group-content {
        flex-direction: column;
    }

    .form .form-wrapper .form-group .form-group-content .form-group-box {
        padding-left: 0;
        padding-right: 0;
    }

}