<html>
    <head>
        <title>Disposicion de Efectivo a Cuentas</title>
        <link rel="stylesheet" href="/Banbif/resources/css/banbif.ui.css">
        <link rel="stylesheet" href="/Banbif/resources/css/body.css">

        <script src="/Banbif/resources/js/jquery.min.js"></script>

    </head>
    <body>

        <div class="form">
            <div class="form-header">
                <span class="form-title">Disposici&oacute;n de Efectivo a Cuentas</span>
            </div>
            <div class="form-wrapper">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group-header">
                                <span class="form-group-index">1</span>
                                <span class="form-group-title">Tarjeta de cr&eacute;dito</span>
                            </div>
                            <div class="form-group-content">
                                <div class="form-group-box">
                                    <div class="drowdown-list">
                                        <a class="drowdown-link">
                                            <span class="drowdown-label">Seleccione un producto</span>
                                            <i class="drowdown-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group-header">
                                <span class="form-group-index">2</span>
                                <span class="form-group-title">Monto a transferir</span>
                            </div>
                            <div class="form-group-content">
                                <div class="form-group-box">
                                    <label class="form-label">Importe</label>
                                    <input type="text" class="text-box">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group-header">
                                <span class="form-group-index">3</span>
                                <span class="form-group-title">Cuenta destino</span>
                            </div>
                            <div class="form-group-content">
                                <div class="form-group-box">
                                    <div class="drowdown-list">
                                        <a class="drowdown-link">
                                            <span class="drowdown-label">Seleccione un producto</span>
                                            <i class="drowdown-icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <div class="form-group-header">
                                <span class="form-group-index">4</span>
                                <span class="form-group-title">Datos adicionales</span>
                            </div>
                            <div class="form-group-content">
                                <div class="form-group-box">
                                    <label class="form-label">Descripci&oacute;n</label>
                                    <input type="text" class="text-box">
                                </div>
                                <div class="form-group-box">
                                    <label class="form-label">Descripci&oacute;n</label>
                                    <span class="form-text">*******@GMAIL.COM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <button class="button side-button">
                    <span>Limpiar</span>
                </button>
                <button class="button main-button">
                    <span>Continuar</span>
                </button>
            </div>
        </div>

        <div class="search-modal">
            <div class="search-dialog">
                <div class="search-header">
                    <span class="search-title">Seleccionar producto</span>
                </div>
                <div class="search-form">
                    <div class="search-box">
                        <i class="search-icon"></i>
                        <input type="text">
                    </div>
                </div>
                <div class="search-scroll">
                    <div class="search-list"></div>
                </div>
            </div>
        </div>

    </body>
</html>